*~
*.la
*.lo
*.o
*.pc
.deps/
.libs/
m4/
Makefile
Makefile.in
install-sh
ltmain.sh

*.o.cmd
*.ko
*.ko.cmd
*.mod.c
*.mod.o.cmd
.tmp_versions
Module.symvers
modules.order

aclocal.m4
autom4te.cache/
config.*
configure
libtool
stamp-h1
build-aux/

.libxt*
missing
