*.in
*.m4
autom4te.cache/
compile
*.guess
*.sub
configure
install-sh
missing
kernel/net/netfilter/ipset/.*
kernel/net/netfilter/ipset/Module*
kernel/net/netfilter/ipset/module*
kernel/net/netfilter/ipset/*.mod.*
kernel/net/netfilter/ipset/*.ko
kernel/net/netfilter/ipset/*.o
