<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>KKU Network User Authentication</title>
<style type="text/css">

	BODY {font-family:;font-size="11"}
	A:link {text-decoration: none; color: #e66802  }
	A:visited {text-decoration: none; color: #e66802  }
	A:hover {text-decoration: none; color: #FFFFFF }
	A:active {text-decoration: none; color: LightBlue3 }
	p, div, td, ul li, ol li { font-family:  MS Sans Serif, Microsoft Sans Serif;  font-size: 11pt }
</style>
</head>
<body bgcolor="#a0bac9">
<div align="center"><br>
  <center>
  <table width="750" height="426" border="0" cellpadding="0" cellspacing="0" >      <tr>
      <td width="33%">
	  <table width="779" border="0" cellspacing="0" cellpadding="0">
	  <td width="20%" valign="top">&nbsp;</td>
      <td width="80%" valign="top">	  
	      <img border="0" src="images/head01.gif"></td>
	  </table>	  </td>
    </tr>
    <tr>
      <td width="33%" valign="top">
        <table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20%" valign="top">&nbsp;</td>
            <td width="80%" valign="top">
              <div align="left">
                <table border="0" width="465" cellspacing="0" cellpadding="0" background="images/bg.gif">
				 <tr>
                  <tr>
                    <td width="100%" style="border-left: 1 solid #000000; border-right: 1 solid #000000">
					
                      <table width="100%" border="0">
					  
                        <tr>
                          <td align="center"><img src="images/kku.gif"></td>
                          <td align="center"><p align="left"><font color="#FFFFFF" size="5"><b>KKU<br>
                          </b></font><font color="#FFFFFF"><b>Network User Authentication</b></font></p>                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" align="center"><!-- Login --></td>
                        </tr>
                        <tr>
                          <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            
                            <tr>
                              <td width="9%"></td>
                              <td width="91%"><font size="2" color="#FFFFFF">- ใช้ Username, Password เดียวกันกับ KKU Web-Mail </font></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td><font size="2" color="#FFFFFF">- Use the same Username, Password of KKU Web-Mail </font></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td><font size="2" color="#FFFFFF">- More Info : 043348601-2 ต่อ 46123, 46124, <a href="http://network.kku.ac.th">http://network.kku.ac.th</a></font></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td><font size="2" color="#FFFFFF">- สมัคร KKU-NET สำหรับนักศึกษา <a href="http://202.12.97.2/account/">Click</a></font></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>&nbsp;</td>
                            </tr>
                          </table></td>
                        </tr>
                        
                        <tr>
                          <td colspan="2"></td>
                        </tr>
                      </table>                    </td>
                  </tr>
                    <tr>
                      <td width="100%"><img border="0" src="images/tail01.gif"></td>
                    </tr>
                </table>
              </div>            </td>
          </tr>
        </table>
      </td>
    </tr>

  </table>
</div>

<!-- JavaScript -->
</body>

</html>
